{% extends "base.html"%} 
{%block start%}

<div class="container mt-5" >
  <form class="col-6 mx-auto card p-3 shadow-lg"method="post" enctype="multipart/form-data">
    {% csrf_token%}
    <h2>ADD RECEIPE</h2>
    <hr>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label" >Receipe name</label>
      <input required="required" type="text" class="form-control" name="receipe_name"/>

    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"> Receipe Description</label>
      <textarea class="form-control" name="receipe_description"></textarea>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"> Receipe Image</label>
       <input type="file" class="form-control" name="receipe_image"/>
    </div>
    <button type="submit" class="btn btn-success">Add Receipe</button>
  </form>
  <hr>
  <div class="mt-5">
    <div class="mx-auto clo-6">
      <form action="">
       <div class="mb-3">
      <label class="form-label" >Search Receipe</label>
      <input type="text" class="form-control" name="search"/>

    </div>
    
    <button type="submit" class="btn btn-primary">Search</button>
    </form>
    </div>
  </div>

  <table class="table width=50% mt-5">
  <thead>
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">Receipe Name</th>
      <th scope="col">Receipe Description</th>
      <th scope="col">Receipe Image</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
   {% for receipe in receipe %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{receipe.receipe_name}}</td>
      <td>{{receipe.receipe_description}}</td>
      <td>
        <img src="/media/{{receipe.receipe_image}}" alt="{{receipe.receipe_name}}" height="100"/>
      </td>

      <td>
        <a href="/delete_receipe/{{receipe.id}}/" class="btn btn-danger m-2">Delete</a >
        <a href="/update_receipe/{{receipe.id}}/" class="btn btn-primary m-2">Update</a >
        </td>
    </tr>
      {% endfor %}
    
    
  </tbody>
</table>



</div>

{%endblock%}
